<p id="notice"><%= notice %></p>

<h1>Qoutations</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qoutations.each do |qoutation| %>
      <tr>
        <td><%= qoutation.quote %></td>
        <td><%= link_to 'Show', qoutation %></td>
        <td><%= link_to 'Edit', edit_qoutation_path(qoutation) %></td>
        <td><%= link_to 'Destroy', qoutation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qoutation', new_qoutation_path %>
